<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">Editar Articulo</h1>
      <br>
      <form action="/article/<%= @article["article"]["id"] %>" method="POST">
      	<input type="hidden" name='_method' value="PATCH">
        <div class="form-group">
            <input type="input" name="image_url" class="form-control input-lg" placeholder="Imagen" value="<%= @article["article"]["image_url"] %>">
        </div>
        <div class="form-group">
          <input type="input" name="code" class="form-control input-lg" placeholder="Codigo" value="<%= @article["article"]["code"] %>">
        </div>
        <div class="form-group">
          <textarea name="description" class="form-control input-lg" placeholder="Descripcion"><%= @article["article"]["description"] %></textarea>
        </div>
        <input type="submit" name="Editar Articulo" class="btn btn-success btn-lg btn-block">
        <a href="/" class="btn btn-warning btn-lg btn-block">Volver</a>
      </form>
      <br>
    </div>
  </div>
</div>
